<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./CSS/footer.css">
</head>

<body>
    <footer>
        <div class="top">
            <div class="left">
                <div class="logo">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                    <p>travel</p>
                </div>

                <form action="">
                    <h4>subscribe now</h4>
                    <input type="email" placeholder="Enter your email">
                    <button type="submit">subscribe</button>
                </form>

            </div>


            <div class="router">
                <p class="footer-router-head">Links</p>
                <a href=""><i class="fa-solid fa-angle-right"></i> about</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> translate</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> tourist guide</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> rental services</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> weather updates</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> profile</a>
            </div>

            <div class="other-links">
                <p class="footer-router-head">Others</p>
                <a href=""><i class="fa-solid fa-angle-right"></i> FAQ's</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> blog</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> privacy policy</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> terms & condition</a>
                <a href=""><i class="fa-solid fa-angle-right"></i> settings</a>
            </div>


            <div class="social-links">
                <p class="social-links-head">contact us</p>
                <p><i class="fa-solid fa-phone"></i> <a href="tel:+4733378901">+47 333 78 901</a></p>
                <p><i class="fa-solid fa-envelope"></i> <a href="mailto:someone@example.com">someone@example.com</a></p>

                <div>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <div class="bottom">
            <p>Copyright &copy; 2024 | All rights reserved</p>
        </div>
    </footer>
</body>

</html>