<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>

  <link rel="stylesheet" href="./CSS/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Playball&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./CSS/header.css">
  <link rel="stylesheet" href="./CSS/footer.css">

</head>

<body>

  <%- include("./header.ejs") %>

    <section class="main">

      <h1>Welcome to Advtour.</h1>
      <h4>Find the Amzing Places.</h4>
      <div class="box">
        <p>We give our best for the travellers. No matter how long you came from . Your Enjoyment is our
          Guarantee. Experience the royalty, heritage , natural scenery with the comfortable Journey. </p>
      </div>
      <div class="button">
     <input class="buttoninner" id="book" type="button" value="Book Now">
     <input  class="buttoninner" id="explore" type="button" value="Explore">
      </div>

    </section>
    <h5>Travel around World</h5>
    <section class="middle">
      <div class="container" id="id1">
        <img src="./images/nepal.jpg" width="100">
        <h6>Asia</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam pariatur itaque eum, inventore
          dignissimos
          cumque cupiditate ea praesentium. Cumque.</p>
      </div>
      <div class="container" id="id2">
        <img src="./images/newzealand.jpg" alt="">
        <h6>Australia</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam pariatur itaque eum, inventore
          dignissimos
          cumque cupiditate ea praesentium. Cumque.</p>
      </div>
      <div class="container" id="id3">
        <img src="./images/africa.jpg" alt="">
        <h6>Afria</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam pariatur itaque eum, inventore
          dignissimos
          cumque cupiditate ea praesentium. Cumque.</p>
      </div>
      <div class="container" id="id1">
        <img src="./images/switzerland.jpg" width="100">
        <h6>Europe</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam pariatur itaque eum, inventore
          dignissimos
          cumque cupiditate ea praesentium. Cumque.</p>
      </div>
      <div class="container" id="id1">
        <img src="./images/los angles.jpg" width="100">
        <h6>North America</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam pariatur itaque eum, inventore
          dignissimos
          cumque cupiditate ea praesentium. Cumque.</p>
      </div>
      <div class="container" id="id1">
        <img src="./images/brazil.jpg" width="100">
        <h6>South America</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquam pariatur itaque eum, inventore
          dignissimos
          cumque cupiditate ea praesentium. Cumque.</p>
      </div>
    </section>
    <h5>Our Services</h5>
    <section class="services">
      <div class="servicesbox">
        <img src="./images/like_686308.png" alt="10">
        <h6>High Qualified Services</h6>
        <p>orem ipsum dolor sit amet, consectetur adipisicing elit. Eum quo eos reprehenderit beatae iusto incidunt.
          Aspernatur saepe expedita atque obcaecati?</p>
      </div>
      <div class="servicesbox">
        <img src="./images/location_13196816.png" alt="">
        <h6>Affordable Hotels</h6>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quo eos reprehenderit beatae iusto incidunt.
          Aspernatur saepe expedita atque obcaecati?</p>
      </div>
      <div class="servicesbox">
        <img src="./images/pointer_1179058.png" alt="">
        <h6>Amazing Destinations</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quo eos reprehenderit beatae iusto incidunt.
          Aspernatur saepe expedita atque obcaecati?</p>
      </div>
      <div class="servicesbox">
        <img src="./images/support.png" alt="">
        <h6>24/7 Support</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quo eos reprehenderit beatae iusto incidunt.
          Aspernatur saepe expedita atque obcaecati?</p>
      </div>
      <div class="servicesbox">
        <img src="./images/price-tag.png" alt="">
        <h6>Best Price Guarantee</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quo eos reprehenderit beatae iusto incidunt.
          Aspernatur saepe expedita atque obcaecati?</p>
      </div>
      <div class="servicesbox">
        <img src="./images/direction.png" alt="">
        <h6>Tourist Guides</h6>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quo eos reprehenderit beatae iusto incidunt.
          Aspernatur saepe expedita atque obcaecati?</p>
      </div>
    </section>
    <!---
  <section class="carousel">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
          </svg>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Example headline.</h1>
              <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
          </svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Some representative placeholder content for the second slide of the carousel.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
          </svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>One more for good measure.</h1>
              <p>Some representative placeholder content for the third slide of this carousel.</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
-->
    <section>
      <h5>Our Partners<h5>
          <div class="partners">
            <div class="partnersbox">
              <img src="images/tata logo.jpg" alt="">
            </div>
            <div class="partnersbox">
              <img src="images/makemytrip2.png" alt="">
            </div>
            <div class="partnersbox">
              <img src="images/indigo.png" alt="">
            </div>
            <div class="partnersbox">
              <img src="images/sbi.png" alt="">
            </div>
          </div>
    </section>


    <%- include("./footer.ejs") %>

    <script>
      let searchIcon = document.querySelector("header .searchbar i");
      searchIcon.addEventListener("click", () => {
        let input = document.querySelector("header .searchbar input");
        if (input.classList.contains("hide")) {
          input.classList.remove("hide");
          searchIcon.classList.add("show")
        }
      })
    </script>
</body>

</html>